Package: hosts-updater
Version: 5
Priority: optional
Section: misc
Architecture: all
Maintainer: Schlomo Schapiro <schlomo+packaging@schapiro.org>
Depends: dnsutils
Replaces: gss-hosts-updater (<< 4.1-1~)
Description: Update /etc/hosts from DNS
 To "properly" resolve systems that use dyndns, add them
 to /etc/hosts.autoupdate and hosts-updater will write them
 into /etc/hosts. Runs as a cron job every 5 minutes.
